 /* *{
     outline: 2px red solid;
 }  */

a{
    text-decoration: none;
}
 .flex {
     display: flex;
 }

 body {
     background-image: url(../img/background.png);
     background-attachment: fixed;
     /* 背景画像を固定してスクロールさせない */
 }
 /*.header-top {
     height: 30px;
     background-color: #cae3ff;
 }*/

 header {
     display: flex;
     /* justify-content: center; */
     align-items: center;
     padding: 5px;
     background-color: #ffffff;
     height: 150px;
 }

 .logo {
     margin-left: 50px;
 }

 .logo img {
     height: 200px
     /* ロゴの高さを適切に調整 */
 }

 .icon {
     margin-left: auto;
     margin-right: 30px;
 }

 


 .icon img {
     height: 80px;
 }


 /*.search_box {
      margin-left: auto; 
     width: 100%;


 }*/


/* input {
     /* -webkit-appearance: none; */
     /* -moz-appearance: none; */
     /* appearance: none; 
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #999;
     border-radius: 5px 0px 0px 5px;
 }

 .searchForm {
     position: relative;
     width: 350px;
     margin: auto;
     right: 20px;
 }

 .searchForm-input {
     width: 90%;
 }

 .searchForm-submit {
     position: absolute;
     width: 39px;
     height: 40px;
     top: calc(50% - 20px);
     right: 0;
     background-color: #ffffff;
     border-radius: 0 5px 5px 0;
     border: 1px solid #999;

 }

 .searchForm-submit::before {
     position: absolute;
     content: '';
     width: 15px;
     height: 15px;
     top: calc(50% - 9px);
     left: calc(50% - 9px);
     border-radius: 50%;
     box-shadow: 0 0 0 2px #333333;
 }

 .searchForm-submit::after {
     position: absolute;
     content: '';
     width: 8px;
     height: 6px;
     top: calc(50% + 6px);
     left: calc(50% + 2px);
     border-top: solid 2px #333333;
     transform: rotate(45deg);
 }


 .searchForm-submit:active {

     background-color: #e2e2e2c0;

 }*/



 .question {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #13B7FF;
     border-radius: 0px 5px 0px 5px;
     font-size: 15px;
     height: 40px;
     width: 160px;
     margin-left: auto;
     text-align: center;

     /* font-family: 'Arial'; */

 }

 .questionn {
     text-decoration: none;
     color: #fff8f8;
 }

 .question:hover {
    animation: zoom .3s;
}

@keyframes zoom {
    50% {
        transform: scale(1.05);
    }
}



 .contents {
     background-color: #ffffff;
     margin-top: 20px;
     margin-left: 20px;
     margin-right: 20px;
     /* width: 100px; */
     height: 85px;
     flex-shrink: 0;
     display: flex;
     /* Flexboxを有効にする */
     align-items: center;
     /* 垂直方向の中央揃え */
 }

 .contents p {
    font-family: 'Arial';
     margin-left: 50px;
     font-size: 30px;
 }

 .left {
     background-color: #ffffff;
     border: #333333 1px solid;
     height: auto;
     width: 700px;
     margin-top: 50px;
     margin-left: auto;
 }

 .left-1 {
     display: flex;
     border-bottom: #333333 1px solid;
     background-color: #E7E6E6;
 }

 .left-1-1 {
     width: calc(100% / 3);
     text-align: center;
 }

 .left-1-1 a {
     text-decoration: none;
     color: #333333;
 }

 .left-1-1 a:hover {
     color: #ff0000;
 }

 .left-1-2 {
     width: calc(100% / 3);
     text-align: center;
     display: inline-block;
     vertical-align: top;
     position: relative;
 }

 .left-1-2 a {
     text-decoration: none;
     color: #333333;

 }

 .left-1-2 a:hover {
     color: #ff0000;
 }

 .left-1-2::before {
     content: '';
     position: absolute;
     top: 10px;
     /* 上からの距離を指定してボーダーの上部の空白を設定 */
     left: -1px;
     /* 左の位置を設定 */
     width: 1px;
     /* ボーダーの幅を設定 */
     height: calc(100% - 20px);
     /* ボーダーの高さを設定。上と下に10pxずつ空白を設ける */
     background-color: #333;
     /* ボーダーの色を設定 */
 }

 .top-question {
     margin-right: 30px;
 }

 .top-category {
     position: relative;
     bottom: 5px;
     font-size: 12px;
     color: #7a7979;

     font-family: 'Arial';

 }




 .top-text {
	position: relative;
	display: inline-block;
	transition: .3s;
	color: #307fff;
    text-decoration: none;
    padding-bottom: 1px;

}
.top-text::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #307fff;
	opacity: 0;
	transition: .3s;
}
.top-text:hover::after {
	bottom: 0;
	opacity: 1;
}


 .top-answer-date {
     margin-top: 3px;
     font-size: 14px;
     color: #7a7979;
 }


 .right {
     background-color: #ffffff;
     border: #333333 1px solid;

     height: 300px;
     width: 350px;
     margin-top: 50px;
     margin-left: 20px;
     margin-right: auto;
 }
 .category-black{
    text-decoration: none;
    color: black;
    position: relative;
	display: inline-block;
	transition: .3s;
 }
 .category-black::after{
    position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(47, 47, 47);
	opacity: 0;
	transition: .3s;
 }
 .category-black:hover::after {
	bottom: 0;
	opacity: 1;
}

 .q_user {
     display: flex;
 }

 .q_profile {
     font-size: 24px;
     margin-top: 10px;
 }

 .box1 {
     width: 136px;
     height: 32px;
     flex-shrink: 0;
     background: lightcoral;
 }

 .box2 {
     width: 136px;
     height: 32px;
     flex-shrink: 0;
     background: #E5D1FF;
 }

 .box3 {
     width: 136px;
     height: 32px;
     flex-shrink: 0;
     background: lightgreen;
 }

 .status1 {
     position: absolute;
     transform: translate(20%, 20%);
     font-size: 20px;
     color: #000;
 }

 .status2 {
     position: absolute;
     transform: translate(20%, 20%);
     font-size: 20px;
     color: #000;
 }

 .status3 {
     position: absolute;
     transform: translate(12.5%, 20%);
     font-size: 20px;
     color: #000;
 }

 .date {
     position: absolute;
     transform: translate(280%, 250%);
 }

 .answer_sum {
     position: absolute;
     transform: translate(500%, 100%);
     font-size: 30px;
 }

 .q_text {
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 30px;
 }

 .btn1 {
     width: 120px;
     height: 45.599px;
     flex-shrink: 0;
     border-radius: 6px;
     border: 1px solid #000;
     background: #FFF;
     margin-left: 30px;
     margin-top: 30px;
     margin-bottom: 10px;
 }

 .check_answer {
     width: 172px;
     height: 58px;
     flex-shrink: 0;
     border-radius: 40px;
     background: #B5E5FA;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin-left: 300px;
 }

 .q_answer {
     width: 172px;
     height: 58px;
     flex-shrink: 0;
     border-radius: 40px;
     background: #fb4433;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     margin-left: 30px;
 }

.box1 {
   width: 136px;
   height: 32px;
   /*flex-shrink: 0;*/
   background: lightcoral;
 }
 .box2{
   width: 136px;
   height: 32px;
   background:#E5D1FF;
 }
 .box3{
   width: 136px;
   height: 32px;
   background: lightgreen;
 }

 .status1 {
   position: absolute;
   transform: translate(20%, 20%);
   font-size: 20px;
   color: #000;
}
.status2 {
   position: absolute;
   transform: translate(20%, 20%);
   font-size: 20px;
   color: #000;
}
.status3 {
   position: absolute;
   transform: translate(12.5%, 20%);
   font-size: 20px;
   color: #000;
}
.date{
   position: absolute;
   transform: translate(280%, 250%); 
}
.answer_sum{
   position: absolute;
   transform: translate(500%,100%);
   font-size: 30px;
}
.q_text{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 30px;
}
.btn1{
   width: 120px;
   height: 45.599px;
   flex-shrink: 0;
   border-radius: 6px;
   border: 1px solid #000;
   background: #FFF;
   margin-left: 30px;
   margin-top: 30px;
   margin-bottom: 10px;
}
.check_answer{
   width: 172px;
   height: 58px;
   flex-shrink: 0;
   border-radius: 40px;
   background: #B5E5FA;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-left: 300px;
}
.q_answer{
   width: 172px;
   height: 58px;
   flex-shrink: 0;
   border-radius: 40px;
   background: #FAB5B5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-left: 30px;
}
.a_color{
    color: black;
}
.back{
    margin-left: 275px;
    width: 172px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #B5E5FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.modoru-color{
    color:#000;
}
.a_user{
    display:flex;
    margin-left: 15px;
}
.a_text{
   margin-left: 140px;
   margin-right: 50px;
}
.best_text{
    margin-right: 50px;
}
.best-answer{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.no-answer{
    text-align: center;
}
.best-img{
    display: flex;
}


 .pager {
     text-align: center;
     margin: 20px 0;
 }

 .pager a {
     margin: 0 5px;
     padding: 5px 10px;
     text-decoration: none;
     color: #333;
     border: 1px solid #dddddd;
     border-radius: 3px;
 }

 .pager a:hover {
     background-color: #c5f3ff;
 }

 .pager a.current-page {
     background-color: #333;
     color: #fff;
     border: 1px solid #333;
 }



 footer {
     margin: 100px;
 }