 /* * {
     outline: 2px red solid;
 } */

 .flex {
     display: flex;
 }

 body {
     background-image: url(../img/background.png);
 }

 .header-top {
     height: 30px;
     background-color: #94c8ff;
 }

 header {
     display: flex;
     /* justify-content: center; */
     align-items: center;
     padding: 5px;
     background-color: #ffffff;
     height: 150px;
 }

 .logo {
     margin-left: 50px;
 }

 .logo img {
     height: 200px;
     /* ロゴの高さを適切に調整 */
 }

 .icon {
     margin-left: auto;
     margin-right: 30px;
 }

 .icon img {
     height: 80px;
 }


 .search_box {
     margin-left: auto;
   

 }


 input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #999;
     border-radius: 5px;
 }

 .searchForm {
     position: relative;
 }

 .searchForm-input {
     width: 90%;
 }

 .searchForm-submit {
     position: absolute;
     width: 39px;
     height: 40px;
     top: calc(50% - 20px);
     right: 0;
     background-color: #ffffff;
     border-radius: 0 5px 5px 0;
     border: 1px solid #999;
     
 }

 .searchForm-submit::before {
     position: absolute;
     content: '';
     width: 15px;
     height: 15px;
     top: calc(50% - 9px);
     left: calc(50% - 9px);
     border-radius: 50%;
     box-shadow: 0 0 0 2px #333333;
 }

 .searchForm-submit::after {
     position: absolute;
     content: '';
     width: 8px;
     height: 6px;
     top: calc(50% + 6px);
     left: calc(50% + 2px);
     border-top: solid 2px #333333;
     transform: rotate(45deg);
 }


 .searchForm-submit:active {
   
    background-color: #e2e2e2c0;
    
}



 .question {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #94c8ff;
     height: 40px;
     width: 150px;
     margin-left: auto;
     text-align: center;
 }

 .questionn {
     text-decoration: none;
 }

 /* .question:: {
     background-color: #000000;
 } */


 .a1 {
     background-color: #ffffff;
     margin-top: 20px;
     margin-left: auto;
     margin-right: auto;
     width: 1200px;
     height: 85px;
     flex-shrink: 0;


 }

 .left {
     background-color: #ffffff;
     height: 400px;
     width: 700px;
     margin-top: 50px;
     margin-left: auto;
 }

.left-1{
    background-color: #999;
}



 .right {
     background-color: #ffffff;
     height: 300px;
     width: 350px;
     margin-top: 50px;
     margin-left: 20px;
     margin-right: auto;
 }

 .q_user {
     display: flex;
 }
 .q_profile{
    font-size: 24px;
    margin-top: 10px;
 }

 .box1 {
    width: 136px;
    height: 32px;
    flex-shrink: 0;
    background: #FF0707;
  }
  .box2{
    width: 136px;
    height: 32px;
    flex-shrink: 0;
    background:#E5D1FF;
  }
  .box3{
    width: 136px;
    height: 32px;
    flex-shrink: 0;
    background: #B3FE54;
  }

  .status1 {
    position: absolute;
    transform: translate(20%, 15%);
    font-size: 20px;
    color: #000;
}
.status2 {
    position: absolute;
    transform: translate(20%, 15%);
    font-size: 20px;
    color: #000;
}
.status3 {
    position: absolute;
    transform: translate(12.5%, 15%);
    font-size: 20px;
    color: #000;
}
.date{
    position: absolute;
    transform: translate(280%, 250%); 
}
.answer_sum{
    position: absolute;
    transform: translate(500%,100%);
    font-size: 30px;
}
.q_text{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.btn1{
    width: 143px;
    height: 45.599px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #000;
    background: #FFF;
}